.table {

    width: 100%;
    margin: $space-default auto;

    tr, th {
        border: 0;
        text-align: left;
        font-size: 1.25rem;
    }
    
    tr:nth-child(even){
        background: #ebebeb;
    }

    tbody {

        tr:hover {
            background: #d1fdf9;
        }
        
        td {
            border: 0 none;
            padding: 4px 6px;
        }
        
    }

    th {
        border: 0 none;
        border-bottom: 2px solid #454545;
    }

    @media (max-width: $smartphone-width){
        display: flex;
        max-width: 100%;
        flex-direction: column;
        th {
            display: none;
        }
        tr {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            padding: $space-default;
            width: 100%;
            td {
                display: inline;
                width: calc(99% - 10px);

                &:first-child {
                    font-weight: bold;
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }

}